.skills {
  background-color: #ffffff;
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.skills h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #464444;
  text-transform: uppercase;
}

.skills p {
  font-size: 1.12rem;
  font-weight: 400;
  color: rgb(87, 87, 87);
}

.techinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.techinfo h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #464444;
  text-transform: uppercase;
}

.maintech {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.techStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techStack i {
  font-size: 1.8rem;
  font-weight: 200;
}

.techinfo h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #464444;
  text-transform: uppercase;
}
